<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ltcyazilim">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LTCYazilim"
        tools:targetApi="31">
        <activity
            android:name=".QrKontrolActivity"
            android:exported="false" />
        <activity
            android:name=".operator.QrActivity"
            android:exported="false" />
        <activity
            android:name=".operator.SoruHayirActivity"
            android:exported="false" />
        <activity
            android:name=".operator.OperatorSoruActivity"
            android:exported="false" />
        <activity
            android:name=".yonetici.YoneticiGirisActivity"
            android:exported="false" />
        <activity
            android:name=".teknikservis.TeknikServisGirisActivity"
            android:exported="false" />
        <activity
            android:name=".operator.OperatorKontrolActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".IlkEkranActivity"
            android:exported="false" />
        <activity
            android:name=".operator.KullaniciGirisActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>